*{
    margin: 0;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
}

body>div{
    width: 80%;
    height: 100vh;
    border: 3px solid red;
}
.exercise1 {
    
    text-align: center;
    background-color: white;
    width: 100%;
    height: 5vh;
    background-size: cover;
    color: blue;
    font-size: 150%;
    height: 10%;
    
}
.great{
    background-color: lightslategray;
    height: 40%;
}
.morn{
     padding: 4%;
}

.home {
    text-align: center;
    font-size: 82%;
    color: white;
}
.qiuck{
    text-align: center;
    color: white;
}
.morn2{
    padding: 4%;
}
.gone{
    text-align: center;
    font-size: 82%;
    color: white;
}
.mark{
    font-size: 150%;
    text-align: center;
    color: white;
}
.morn3{
    padding: 4%;
}
.core{
    text-align: center;
    font-size: 82%;
    color: white;
    
}
.issue{
    text-align: center;
    color: white;

}
.peace{
    text-align: center;
    font-size: 82%;
    color: white;
}
.joy{
    text-align: center;
    color: white;
}
.bigg{
    text-align: center;
    background-color: white;
    height: 20%;
    
}
.morn4{
    padding-bottom: 4%;
}
.big{
    font-size: 82%;
}
.super{
    color: blue;
    
}
.morn5{
    padding-bottom: 4%;
}
.hold{
    font-size: 82%;
}
.holder{
    font-weight: 800;
}
.extra{
    text-align: center;
    background-color: aqua;
    height: 30%;
    
}
.morn6{
    padding: 3%;
}
.superb{
    font-size: 82%;
}
.intra{
    font-weight: 500;
}
.extre{
    font-size: 82%;
}
.dot{
    font-family: 'Courier New', Courier, monospace;
}